* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.gallery {
    width: 950px;
    display: flex;
    overflow-x: scroll;
}
.gallery div {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 5%;
    flex: none;
}
.gallery div img {
    filter: grayscale(100%);
    object-fit: cover;
    object-position: center;
    width: 300px;
    height: 200px;
    transition: transform 0.3s ease-in;
}
.gallery::-webkit-scrollbar {
    display: none;
}
.gallery-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% auto;
}
#back-btn, #next-btn {
    cursor: pointer;
    margin: 10px;
}
.gallery div img:hover {
    filter: grayscale(0);
    cursor: pointer;
    transform: scale(1.1);
}